            * {
                margin: 0;
                padding: 0;
                color: #c4b998;
                font-weight: 300;
            }
            
            #menu {
                background-color: #121212;
                border-bottom: 2px solid #262626;
                font-family: "BeaufortLoL", "Times New Roman" !important;
                font-size: 14px !important;
                font-weight: bold;
                height: 52px;
                width: 100%;
                z-index: 3000000;
                position: sticky;
                top: 0px;
            }
            
            .menu-top {
                height: 52px;
                margin-right: 0;
                max-width: 100%;
                opacity: 1;
                overflow: hidden;
                text-align: center;
                margin: 0 50;
            }
            
            #menu .menu-top a {
                border-bottom: 2px solid transparent;
                color: #c9aa71;
                display: inline-block;
                font-size: 14px;
                font-weight: bold;
                line-height: 48px;
                margin: 0 0.85em;
                overflow: hidden;
                padding-top: 2px;
                text-transform: uppercase;
                transition: color 1s cubic-bezier(0.06, 0.81, 0, 0.98);
                text-decoration: none;
            }
            
            #menu .menu-top a:hover {
                font-size: 17px;
                color: white;
                transition-timing-function: linear;
            }
            
            #header {
                width: auto;
                height: 600px;
                min-width: 98vw;
                overflow: hidden;
                position: relative;
            }
            
            #myVideo {
                margin-left: auto !important;
                margin-right: auto !important;
            }
            
            #header .name {
                background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 65%, rgba(10, 10, 12, .1) 70%, #0a0a0c 90%);
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                padding-bottom: 35px;
                padding-top: 80%;
                text-align: center;
                width: 100%;
            }
            
            .yasuo {
                font-size: 104px;
                color: #937341;
                font-weight: 500px;
                letter-spacing: .2em;
            }
            
            .bot_yasuo {
                width: 100%;
            }
            
            h3,
            h2 {
                font-weight: 700;
                color: #c4b998;
                font-size: 14px;
                letter-spacing: 4px;
                padding: 16px 0 16px 4px;
            }
            
            .icon {
                top: -30px;
                right: 45%;
                right: -webkit-calc(50% - 63px);
                right: calc(50% - 63px);
                border: 1px solid #31271e;
                border-radius: 55%;
                margin-right: 0!important;
                padding: 10px;
                position: absolute;
                z-index: 1000;
                background-color: no-repeat;
                background-size: cover;
                background-image: url('./images/img2.png');
            }
            /*---------TU CHO NAY -------------------------*/
            
            .content {
                z-index: 2;
            }
            
            .content1 {
                width: 100%;
                position: relative;
            }
            
            #noidung {
                position: relative;
                display: inline-block;
                width: 100%;
            }
            
            .column {
                float: left;
                min-height: 1000px;
            }
            /* Left and right column */
            
            .column.left {
                width: 15%;
                position: sticky;
                top: 0;
            }
            
            .column.right {
                width: 15%;
                display: inline-block;
                position: sticky;
                top: 0;
            }
            /* Middle column */
            
            .column.middle {
                width: 70%;
                position: relative;
            }
            /* Clear floats after the columns */
            
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
            
            .anh {
                z-index: 2;
                margin-top: 5px;
                display: inline-block;
            }
            
            div.anh {
                position: sticky;
                top: 52px;
                float: left;
            }
            
            #tieusu {
                height: 600px;
                top: 50vh;
            }
            
            .middle {
                background-image: url('./images/rv.jpg');
                background-repeat: no-repeat;
                opacity: 1;
                border-bottom: 3px solid #937341;
                position: relative;
                overflow: hidden;
                border-top: 3px solid #937341;
            }
            
            p {
                color: #c4b998;
                font-family: Arial, sans-serif;
                font-weight: 300;
                -webkit-text-align-last: center;
                -moz-text-align-last: center;
                -ms-text-align-last: center;
                text-align-last: center;
            }
            
            #story {
                position: relative;
                display: inline-block;
                top: 5px;
            }
            
            .story1 {
                margin-top: 100px;
                height: 600px;
            }
            
            .left1 {
                width: 40%;
            }
            
            .right1 {
                width: 50%;
            }
            
            .colum1 {
                float: left;
            }
            
            input[type=text],
            select {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }
            
            input[type=submit] {
                width: 100%;
                background-color: #4CAF50;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
            
            input[type=submit]:hover {
                background-color: #45a049;
            }
            
            footer {
                text-align: center;
                background-color: black;
                height: 80px;
                line-height: 80px;
                font-size: 20px;
            }
            
            .responsive {
                width: 100%;
                max-width: 400px;
                height: auto;
            }